@import url('./__text/__text.css');
@import url('./__image/__image.css');

.button {
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  color: inherit;
  cursor: pointer;
}

.button_header {
  height: 48px;
  border: 1px solid;
  border-color: inherit;
  box-sizing: border-box;
  background-color: transparent;
  margin-left: 32px;
  padding: 0 12px;
}

.button_result {
  height: 64px;
  padding: 0 84px;
  border-radius: 80px;
  margin: 0 auto;
}

.button_search {
  height: 100%;
  padding: 0 54px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  position: absolute;
  right: 0;
}