@import url('./__text/__text.css');
@import url('./__image/__image.css');

.button {
  height: 48px;
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 32px;
  padding: 0;
}
