.articles__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 16px;
  margin: 0 auto;
  padding: 64px 0;
}

@media screen and (max-width: 960px) {
  .articles__grid {
    gap: 8px 8px;
    padding: 32px 0 22px;
  }
}

@media screen and (max-width: 767px) {
  .articles__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 530px) {
  .articles__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .articles__grid {
    padding: 24px 0 15px;
  }
}