.search__form {
  max-width: 608px;
  height: 64px;
  width: 100%;
  display: flex;
  margin: 64px auto 80px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .search__form {
    max-width: 385px;
    height: 56px;
    margin: 48px auto;
  }
}

@media screen and (max-width: 420px) {
  .search__form {
    flex-direction: column;
    height: auto;
    margin-bottom: 32px;
  }
}