@import url('./__copyright/__copyright.css');
@import url('./__social/__social.css');
@import url('./__social-icon/__social-icon.css');

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 104px;
}