.link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.link_social {
  margin-right: 30px;
  }

  .link_social:last-child {
    margin: 0;
  }