.page__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 40px 0 28px;
  color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 960px) {
  .page__title {
    font-size: 14px;
    margin: 24px 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .page__title {
    font-size: 12px;
    margin: 8px 0 16px;
  }
}