.articles__button {
  height: 64px;
  padding: 0 84px;
  border-radius: 80px;
  margin: 0 auto;
  background: #fff;
}

.articles__button:hover {
  transition: 0.2s linear;
  opacity: 0.8;
}

@media screen and (max-width: 960px) {
  .articles__button {
    height: 56px;
    padding: 0 56px;
  }
}